body {
    font-family: Courier, monospace;
    color: #202020;
}

main {
    width:70%;
    border-style: outset;
    border-color:rgb(225, 235, 225);
    border: 1%;
    padding: 1%;
    margin :1%;
    
}
header img{
    float: left;
}

main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

header, footer {
    background-color: #fffde7;
    border-style: outset;
border: 1%;
padding: 0%;
margin: 0%;
}

header h1{
    padding: 80px 0;
text-indent: 5%;
text-shadow: 2px 2px #ff0000;
}

a{
    color: maroon;
font-weight: bold;
}

aside {
    background-color: #F0F0F0;
    font-weight: bold;
    line-height: 3em;
    float: right;
    width:20%;
    border-style: outset;
    border-color:rgb(225, 235, 225);
    border: 1%;
    padding: 1%;
    margin :1%;
}

nav{
    background-color: #F0F0F0;
    font-weight: bold;
    line-height: 3em;
}


h2 {
    color: #B22222;
}


.postContent h3  {
    font-style: italic;
    color: #0066cc;
}


footer {
    font-size: small;
    font-weight: bold;
    text-align: center;
    line-height: 3em;
}


aside ul {
    list-style-image: url('image/icon.png');
}

table, th, tr, td {
    font-family: san-serif, Arial;
    text-align: center;
    border: 1px solid black;
  }
  
  table caption {
    font-family: Arial;
    font-weight: bold;
    font-size: 2em;
  }

  thead{
    background-color: black;
    color: white;
  }

  tbody td{
    background-color: gray;
    color: black;
    border: black;
  }

  tbody th{
    background-color: white;
    font-weight: bold;
  }

  tfoot {
    font-weight: bold;
    background-color: orange;
    color: black;
  }

ul {
    list-style-type: disc;
    list-style-image: url(image/icon.png);
    list-style-position: outside;
}

