*{
    margin: 0;
    padding: 0;
    font-family: 'Agency FB','sans-serif';

}
h1{
    font-size: 20px;
    color: #980089;
    margin-bottom: 10px;
    
}
.column{
    float: right;
    width: 25%;
    padding: 20px;
    height: 100%;
    
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
/* .banner{
    width: 100%;
    height: 100vh;
    font-size: 130%;
    background-image: radial-gradient(rgba(18,17,31,20) , rgba(63,40,62,15) );
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-blend-mode: lighten;
    background-blend-mode: multiply;
} */

.navbar{ /*يغير مكانه*/
    position: sticky;
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
     background-color: #12111f; 
}

.logo{
    width: 150px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}


.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.navbar ul li::after{
    content: "";
    height: 3px;
    width: 0%;
    background: #e179ac;
    position: absolute;
    left:0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
width: 100%;
}

/* .vision{
    font-size: xxx-large;
    width: 100%;
    position:absolute;
    top: 40%;
    transform:rotate(50%); 
    text-align: center;
    color: white;
 } */


.headings {
    text-align: center;
    margin-top: 50px;
    color: #3f283e;
    font-size: xx-large;
}

#Chr {
    border-width: 2px;
    margin-top: 20px;
    /* color: #12111f; */
}


  .Courses{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    gap:1.5rem;
    margin-left: 3em;
    margin-right: 3em;
  }

  /* .Courses .C1 {
    justify-content: center;
    align-items: center;
    min-height: 400px;
  }

  .Courses .C2 {
    justify-content: center;
    align-items: center;
    min-height: 400px;
  } */
  
  .Courses .box{
    height: 300px;
    width: 340px;
    margin: 30px;
    /* flex:1 1 30rem; */
    border-radius: .5rem;
    border:2px solid #3f283e;
    padding:1rem;
    position: relative;
  }
  
  .Courses .box img{
    height:11em;
    width:14em;
    margin-bottom: 2.5em;
    margin-top: 0.5em;
    position: relative;
    border-radius: 70%;
    border: 100% solid white;
    border-color: white;
    
  }
  
  .Courses .box .star i.checked{
    color: #e179ac;
  }

  .Courses .box .star i{
    color: rgb(18,17,31);
    font-size: 1.5rem;
    padding:1rem 0;
    float: right;
  }
  
  .Courses .box h3{
    color:#e179ac;
    font-size: 2rem;
  }
  
  .Courses .box p{
    color:#666;
    font-size: 1rem;
    padding:.5rem 0;
  }
  
  .review{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    gap:1.5rem;
    margin-left: 3em;
    margin-right: 3em;
  }
  
  .review .box{
    height: 300px;
    width: 340px;
    margin: 30px;
    /* flex:1 1 30rem; */
    border-radius: .5rem;
    border:2px solid #3f283e;
    padding:1rem;
    position: relative;
  }
  
  .review .box .Parent{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .review .box  .Parent .Parent-info{
    display: flex;
    align-items: center;
  }
/* 
  .review .box  .Parent .Parent-info .info{
    position: relative;
  } */

  .review .box .parent .star i.checked{
    color: #e179ac;
  }

  .review .box .parent .star i{ 
    color: rgb(18,17,31);
    font-size: 1.5rem;
    padding:1rem 0;
    position: relative;
    /* top: 5em; */
    /* float:right; */
  } 
  
  /* .review .box .Parent span{
    font-size: 6rem;
    color:#e179ac;
    opacity: .5;
  } */
  
  .review .box .Parent .Parent-info img{
    border-radius: 50%;
    object-fit: cover;
    height: 7rem;
    width:7rem;
    margin-right: 1.5rem;
  }
  
  .review .box .Parent .Parent-info h3{
    font-size: 2rem;
    color:#333;
  }
  
  
  .review .box .feedback{
    padding:1rem 0;
    font-size: 1.6rem;
    color:#666;
  }