
*{
    margin: 0;
    padding: 0;
    font-family: 'Agency FB','sans-serif';

}
.banner{
    width: 100%;
    height: 100vh;
    font-size: 130%;
    background-image: radial-gradient(rgba(18,17,31,20) , rgba(63,40,62,15) );
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-blend-mode: lighten;
    background-blend-mode: multiply;
}

.navbar{ /*يغير مكانه*/
    position: sticky;
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 150px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}


.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.navbar ul li::after{
    content: "";
    height: 3px;
    width: 0%;
    background: #e179ac;
    position: absolute;
    left:0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
width: 100%;
}

.vision{
    font-size: xxx-large;
    width: 100%;
    position:absolute;
    top: 40%;
    text-align: center;
    color: white;
}


.headings {
    text-align: center;
    margin-top: 50px;
    color: #3f283e;
    font-size: xx-large;
}

#Chr {
    border-width: 2px;
    margin-top: 20px;
}


  .Courses{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    margin-left: 3em;
    margin-right: 3em;
    
  }

  
  .Courses .box{
    flex:1 1 30rem;
    border-radius: .5rem;
    border:2px solid rgba(167, 167, 167, 0.845);
    box-shadow: 0px 0px 10px #565656;
    padding:1rem;
    position:relative;
    margin: 5px;
  }
  
  .Courses .box img{
    height:5em;
    width:5em;
    margin-bottom: 1.5em;
    margin-top: 0.5em;
  }
  
  .Courses .box .star i.checked{
    color: #e179ac;
  }

  .Courses .box .star i{
    color: rgb(18,17,31);
    font-size: 1.5rem;
    padding:1rem 0;
    float: right;
  }
  
  .Courses .box h3{
    color:#e179ac;
    font-size: 2rem;
  }
  
  .Courses .box p{
    color:#666;
    font-size: 1rem;
    padding:.5rem 0;
  }

  
  .review{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    margin-left: 3em;
    margin-right: 3em;
  }
  
  .review .box{
    height: 300px;
    width: 260px;
    margin: 15px;
    flex:1 1 16rem;
    border-radius: .5rem;
    border:2px solid rgba(167, 167, 167, 0.845);
    box-shadow: 0px 0px 10px #565656;
    padding:1rem;
    position: relative;
  }
  
  .review .box .Parent{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .review .box  .Parent .Parent-info{
    display: flex;
    align-items: center;
  }

  .review .box .star1 i.checked{
    color: #e179ac;
  }

  .review .box .star1 i{ 
    color: rgb(18,17,31);
    font-size: 1.5rem;
    padding: 0.5rem 0;
    position: relative;
    /* float:left; */
    width: 20px;
    height: 20px;
  } 
  
  
  .review .box .Parent .Parent-info img{
    border-radius: 50%;
    object-fit: cover;
    height: 7rem;
    width:7rem;
    margin-right: 1.5rem;
  }
  
  .review .box .Parent .Parent-info h3{
    font-size: 2rem;
    color:#333;
  }
  
  
  .review .box .feedback{
    padding:1rem 0;
    font-size: 1.6rem;
    color:#666;
    align-items: center;
  }
 

  .footer {
    background-color: #e179ac;

  }

  .footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
  }
  
  .footer .box-container .box{
    flex:1 1 20rem;
    margin: 20px;
  }
  
  .footer .box-container .box h3{
    font-size: 1.5rem;
    color:white;
    padding: 0.7em 0;
  }

  .footer .box-container .box .headC{
    display: grid;
    text-align: center;
    justify-content: left;
  }
  
  .footer .box-container .box p{
    font-size: 1rem;
    color:white;
    padding:.7rem 0;
  }
  
  .footer .box-container .box a{
    display: block;
    font-size: 1rem;
    color:#666;
    padding:.7rem 0;
  }
    
  .footer .box-container .box a:hover{
    color:pink;
  }
  
  .footer .box-container .box p i{
    padding-right: .5rem;
    color:var(--pink);
  }

  /* .footer .box-container .box .followUs i{
    padding: .5rem;
    color:var(--pink);
  } */
  
  .footer .credit{
    font-size: 1rem;
    margin-top: 1rem;
    padding:1rem;
    padding-top: 2rem;
    text-align: center;
    border-top: .1rem solid rgba(0,0,0,.1);
    color:#666;
  }

  .footer img {
    height:200px;
    width: 200px;
    margin: 30px;
  }

  .followUs {
    display:inline-flex;
    justify-content: center;
  }

  .followUs a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
  }
