
*{
    margin: 0;
    padding: 0;
    font-family: 'Agency FB','sans-serif';

}

.banner{
    width: 100%;
    height: 100vh;
    font-size: 130%;
    background-image: radial-gradient(rgba(18,17,31,20) , rgba(63,40,62,15));
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}

.bannerMini{
    width: 100%;
    height: 25vh;
    font-size: 130%;
    background-color: rgb(62, 43, 78);
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}

.navbar{ /*يغير مكانه*/
    position: sticky;
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 150px;
    cursor: pointer;
}

.logoMini {
    width: 300px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}


.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.navbar ul li::after{
    content: "";
    height: 3px;
    width: 0%;
    background: #e179ac;
    position: absolute;
    left:0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
width: 100%;
}


.vision h1{
    font-size: 5rem;
    width: 100%;
    position:absolute;
    top: 40%;
    text-align: center;
    color: white;
    word-spacing: 1px;
}


.headings {
    text-align: center;
    margin-top: 6rem;
    color: #3f283e;
    font-size: xx-large;
}

  #Chr {
    border-width: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer {
    background-color: #e179ac;
  }

  .footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    margin-bottom: -35px;
    margin-top: 8rem;
    justify-content: start;

  }
  
  .footer .box-container .box{
    flex:1 1 20rem;
    margin: 20px;
  }
  
  .footer .box-container .box h3{
    font-size: 1.5rem;
    color:white;
    padding: 0.7em 0;
    margin-left: 2rem;
    margin-top: -15px;
  }

  
  .footer .box-container .box p{
    font-size: 1rem;
    color:white;
    padding:.7rem 0;
    margin-left: 3rem;
    
  }
  
  .footer .box-container .box a{
    display: block;
    font-size: 1rem;
    color:#666;
    padding:.7rem 0;
  }
    
  .footer .box-container .box a:hover{
    color:pink;
  }
  
  .footer .box-container .box p i{
    padding-right: .5rem;
    color:var(--pink);
  }

  
  .footer .credit{
    font-size: 1.1rem;
    margin-top: 1rem;
    padding:2rem;
    padding-top: 2rem;
    text-align: center;
    border-top: .1rem solid rgba(0,0,0,.1);
    color:white;
  }

  .footer img {
    height:140px;
    width: 140px;
    margin: 30px;
  }

  .followUs {
    display:inline-flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: -20px;
  }

  .followUs a{
    text-decoration: none;
    padding: 2rem;
    margin: 0px;
    margin-left: -1rem;
    border-radius: 50%;
  }

  .followUs .icon img{
    height: 2rem;
    width: 2rem;
  }

  .Courses{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    margin-left: 3em;
    margin-right: 3em;
  }

  
  .Courses .box{
    height: 300px;
    width: 260px;
    margin: 15px;
    flex:1 1 16rem;
    border-radius: .5rem;
    border:2px solid rgba(167, 167, 167, 0.845);
    box-shadow: 0px 0px 10px #565656;
    padding:1rem;
    position: relative;
  }

  .Courses .box .CC{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .Courses .box  .CC .Course-info{
    display: flex;
    align-items: center;
  }
  
  .Courses .box .star i.checked{
    color: #e179ac;
  }

  .Courses .box .star i{
    color: rgb(18,17,31);
    font-size: 1.5rem;
    padding: 0.5rem 0;
    position: relative;
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-left: 6px;
  }

  .Courses .box .CC .Course-info img{
    border-radius: 50%;
    object-fit: cover;
    height: 7rem;
    width:7rem;
    margin-right: 1.5rem;
  }
  
  .Courses .box .CC .Course-info h3{
    font-size: 1.5rem;
    color:#333;
  }
  
  .Courses .box .desc{
    padding:1rem 0;
    font-size: 1.6rem;
    color:#666;
    align-items: center;
  }

  .buttons{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 15px;
  }

  button {
    background-color: white;
    font-size: 2.5em;
    padding: 5px 50px;
    border-radius: 70px;
    transition-duration: 0.4s;
    color: black;
    border: 2px solid #3f283e;
  }

  button:hover {
    background-color: #e179ac;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  
  .review{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    margin-left: 3em;
    margin-right: 3em;
  }
  
  .review .box{
    height: 300px;
    width: 260px;
    margin: 15px;
    flex:1 1 16rem;
    border-radius: .5rem;
    border:2px solid rgba(167, 167, 167, 0.845);
    box-shadow: 0px 0px 10px #565656;
    padding:1rem;
    position: relative;
  }
  
  .review .box .Parent{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .review .box  .Parent .Parent-info{
    display: flex;
    align-items: center;
  }

  .review .box .star1 i.checked{
    color: #e179ac;
  }

  .review .box .star1 i{ 
    color: rgb(18,17,31);
    font-size: 1.5rem;
    padding: 0.5rem 0;
    position: relative;
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-left: 6px;
  } 
  
  
  .review .box .Parent .Parent-info img{
    border-radius: 50%;
    object-fit: cover;
    height: 7rem;
    width:7rem;
    margin-right: 1.5rem;
  }
  
  .review .box .Parent .Parent-info h3{
    font-size: 2rem;
    color:#333;
  }
  
  
  .review .box .feedback{
    padding:1rem 0;
    font-size: 1.6rem;
    color:#666;
    align-items: center;
  }

 ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    margin-top: 4rem;
    margin-bottom: -4rem;
    margin-left: 4rem;
  }
  
  ul.breadcrumb li {
    display: inline;
    font-size: 20px;
  }
  
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  ul.breadcrumb li a:hover {
    color: #e2649b;
    text-decoration: underline;
  }
 


